.about-container{
    background: #ffffff;
    display: flex;
    .about-anchor{
        flex: 0 0 250px;
        .ant-anchor{
            margin-left: 25px;
        }
    }
    .about-content{
        flex: 1;
        .about-content-item{
            padding: 15px;
            .item-desc{
                border-bottom: 2px dotted #666;
                padding-bottom: 20px;
                margin-top: 10px;
                ul{
                    margin-left: 20px;
                    ol{
                        line-height: 2.5;
                        .color-red{
                            color:red;
                            font-weight: bold;
                        }
                    }
                }
                .about-image{
                    width:100%;
                    max-width: 1200px;
                }
            }
        }
    }
}
.Media {
    padding:20px ;
    display: flex;
    align-items: flex-start;/*定义交叉抽如何对齐，顶部对齐*/
}

.Media-figure {
    margin-right: 1em;
}
.interval{
    margin-top: 15px;
}
.Media-body {
    flex: 1;
    .about-p{
        font-size: 16px;
        line-height: 2.5;
    }
    img{
        vertical-align: middle;
    }
    ul{
        li{
            margin-bottom: 20px;
        }
    }
}
