@media print {
    .notprint {
        display: none;
    }
    .content{
        padding: 0 !important;
    }
    .print-header h3{
        margin-left: -100px;
    }
    .print-ant-table{
        width: 85%;
    }
}