@charset "UTF-8";
.layout-header{
  font-size: 14px;
  .logo{
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: darkcyan;
  }

  .ant-menu-horizontal{
    display: inline-block;
    width: calc(~'100% - 64px');
    .float-right{
      float: right;
    }
    .ant-menu-item-selected > a{
      color: rgba(255, 255, 255, 0.67);
    }
    .nav-selected{
      color: white !important;
    }
  }

}


.content{
  padding: 0px 50px;
  background: #ececec;
  min-width: 1200px;
  .content-container{
    background: #fff;
    padding: 24px;
    min-height: calc(~'100vh - 109px');
  }
}

.big-modal{
  width: 80% !important;
  min-width: 800px;
}

.search-wrap{
  display: inline-block;
  .search-text{
    margin-left: 6px;
  }
  .search-btn{
    margin-left: 6px;
  }
}
.table-index{
  text-align: center;
}

.search-select{
  width: 115px;
}
.no-permission{
  text-align: center;
  font-size: 20px;
}

.center-col{
  text-align: center !important;
}

.inline-block{
  display: inline-block;
}

.radio-text{
  margin-left: 15px;
}

.systemJournal-nav{
  color:rgba(255, 255, 255, 0.67) !important;
}
.systemJournal{
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .systemJournal-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
  }
  .systemJournal-content{
    border-radius: 5px;
    margin: 0 auto;
    min-width: 800px;
    position: relative;
    top: 100px;
    width: 80%;
    background: #ffffff;
    .systemJournal-header{
      padding-left: 10px;
      height: 50px;
      line-height: 50px;
      border-bottom: 2px solid #bbbbbb;
      font-size: 16px;
      font-weight: 500;
    }
    .systemJournal-info{
      height: 67vh;
      margin: 10px;
      min-width: 785px;
      overflow-y: scroll;
      p{
        margin-bottom: 10px;
      }
      .systemJournal-scroll{
        position: absolute;
        bottom: 10px;
        right: 50px;
        .del-icon,.scroll-icon{
          font-size: 26px;
          color: #bbbbbb;
          cursor: pointer;
          &:hover{
            color: #468847;
          }
        }
        .scroll-icon{
          transform:rotate(90deg)
        }
      }
    }
  }
}
.batch-sort{
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
  bottom: 25px;
  right: 50px;
  .scroll-icon{
    font-size: 26px;
    color: #bbbbbb;
    cursor: pointer;
    &:hover{
      color: #468847;
    }
  }
}
.group-check-table{
  .ant-form-item{
    margin-bottom: 0 !important;
  }
}
.transfer-title{
  margin-left: 33px;
  margin-right: 10px;
}
.transfer-card{
  margin-top: 10px;
}
.batch-transfer{
  display: inline-block;
  vertical-align: top;
}
.batch-transfer-process{
  margin-left: 95px;
  .ant-transfer-list:first-child{
    .ant-btn{
      display: none;
    }
  }
}

.right-transfer-description{
  margin-top: 10px;
  padding-left: 412px;
}

.set-defaultScript{
  margin-left: 20px;
  display: inline-block;
  border-radius: 3px;
  width: 250px;
  height: 300px;
  border: 1px solid #d9d9d9;
  .set-defaultScript-header{
    padding: 7px 15px;
    border-radius: 4px 4px 0 0;
    background: #fff;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
    text-align: right;
  }
  .script-item{
    padding-left:10px ;
    cursor: pointer;
    height:32px;
    line-height: 32px;
    p{
      height:32px;
      line-height: 32px;
      display: inline-block;
      vertical-align: top
    }
   p:first-child{
     max-width: 70%;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
   }
    p:last-child {
      font-weight: bold;
      margin-left: 5px;
    }
    &:hover{
      background:#edf8f5;
    }
  }
}

.operate-box{
  margin-bottom: 10px;
  .add-btn{
    float: right;
  }
}



.repeat{
  background: #FF7676;
  &:hover > td{
    background: #FF7676 !important;
  }
}

.demo{
  width: 100%;
  min-height: 100vh;

  .editor-pane{
    padding: 15px;
    display: inline-block;
    width:50%;
    vertical-align: top;
    .CodeMirror{
      height: auto;
    }
  }
  .result-pane{
    padding: 15px;
    vertical-align: top;
    display: inline-block;
    width:50%

  }
}