@charset "UTF-8";
.layout-header{
  font-size: 14px;
  .logo{
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: darkcyan;
  }

  .ant-menu-horizontal{
    display: inline-block;
    width: calc(~'100% - 64px');
    .float-right{
      float: right;
    }
    .ant-menu-item-selected > a{
      color: rgba(255, 255, 255, 0.67);
    }
    .nav-selected{
      color: white !important;
    }
  }

}


.content{
  padding: 0px 50px;
  background: #ececec;

  .content-container{
    background: #fff;
    padding: 24px;
    min-height: calc(~'100vh - 109px');
  }
}

.big-modal{
  width: 80% !important;
  min-width: 800px;
}

.search-wrap{
  display: inline-block;
}
.table-index{
  text-align: center;
}

.search-select{
  width: 100px;
}
.no-permission{
  text-align: center;
  font-size: 20px;
}

.center-col{
  text-align: center !important;
}

.inline-block{
  display: inline-block;
}

.radio-text{
  margin-left: 25px;
}

.systemJournal-nav{
  color:rgba(255, 255, 255, 0.67) !important;
}
.systemJournal{
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .systemJournal-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
  }
  .systemJournal-content{
    border-radius: 5px;
    margin: 0 auto;

    position: relative;
    top: 100px;
    width: 80%;
    background: #ffffff;
    .systemJournal-header{
      padding-left: 10px;
      height: 50px;
      line-height: 50px;
      border-bottom: 2px solid #bbbbbb;
      font-size: 16px;
      font-weight: 500;
    }
    .systemJournal-info{
      height: 67vh;
      margin: 10px;
      min-width: 800px;
      overflow-y: scroll;
      div{
        margin-bottom: 10px;
      }
    }
  }
}
.group-check-table{
  .ant-form-item{
    margin-bottom: 0 !important;
  }
}